body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	text-align: center;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #333;
	text-decoration: none;
}

main {
background-image: url('Java.jpg');
background-size: cover;
background-repeat: no-repeat;
}